<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <link rel="stylesheet" type="text/css" href="public/css/styles.css">
    </head>
    <div class="nav-wrapper">
        <a href="/home">HOME</a>
        <a href="/logout">LOGOUT</a>
    </div>
    <body  onload="">
        <div class="board">
            <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="70vw" height="90vh" id="boardZone">
            </svg>
            <div id="controlPanel">
                <div class="messageContainer">
                    <ul id="messages"></ul>
                    <form id="battleMessageForm" action="">
                        <input type="hidden" id="token" value="<%=token%>">
                        <input id="msg" autocomplete="off" />
                        <button>Send</button>
                    </form>
                    <h2 id="gameState" data-game-id="<%=gameId%>" data-game-state="<%=gameState%>"></h2>
                    <h2 id="playerTurn">Current Turn: <%=currentTurn%></h2>
                    <h2 id="userColor" data-myid-player="<%=myidPlayer%>"><%=userColor%> : <%=myUsername%></h2>
                    <h2 id="enemyColor"><%=enemyColor%> : <%=enemyUsername%></h2>
                    <button id="endTurnButton">End Turn</button>
                    <div id="errorPanel">
                    <h2 id="errorText">Errors: </h2>
                    </div>

                    <h2i</h2>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="public/clientScripts/master.js"></script>
        <script type="module" src="public/clientScripts/createBoard.js" ></script>
    </body>
</html>
